<div class="flow-container bg-white rounded">
  <hr />
  <h1 class="font-weight-light text-center">
    Strengths and Capabilities
  </h1>
  <hr />
  <div class="row feedback">
    <!-- <div class="col-md-5 bannerbottomleft">
      <img src="../../../assets/sideback1.JPG" style="height:500px;width:100%;border-radius: 1rem;" alt="" class="img-responsive" />
  </div> -->
  <div class="col-2"></div>
  <div class="col-md-8 bannerbottomright">
      <ul class="list-group">
      <li class="list-group-item list-group-item-info"><i class="fa fa-truck" aria-hidden="true"></i> NIZAMUDDIN LOGISTICS PRIVATE LIMITED. is a
        professionally managed organization.</li>
      <li class="list-group-item list-group-item-info"><i class="fa fa-truck" aria-hidden="true"></i> Has two decades of proven track record for efficient,
        dependable, loyal and dedicated services.</li>
      <li class="list-group-item list-group-item-info"><i class="fa fa-truck" aria-hidden="true"></i> Has a strong and a sound financial background and
        countrywide network with branches located in all important and strategic business locations.</li>
      <li class="list-group-item list-group-item-info"><i class="fa fa-truck" aria-hidden="true"></i> Has a fleet of 500 own trucks and 200 attached
        trucks.</li>
      <li class="list-group-item list-group-item-info"> <i class="fa fa-truck" aria-hidden="true"></i> Has proven experience in carrying Food Products, Home
        appliances, Electronic goods and ODC consignments.</li>
      <li class="list-group-item list-group-item-info"><i class="fa fa-truck" aria-hidden="true"></i> Consignments tracked by equipment based on Global
        Positioning System (GPS).</li>
      <li class="list-group-item list-group-item-info"> <i class="fa fa-truck" aria-hidden="true"></i> Timely placement of trucks as per customer’s
        requirements.</li>
      <li class="list-group-item list-group-item-info"> <i class="fa fa-truck" aria-hidden="true"></i> Feed back on truck movements, Delivery status.</li>
      <li class="list-group-item list-group-item-info"><i class="fa fa-truck" aria-hidden="true"></i> Speed and safe delivery of the consignments.</li>
      <li class="list-group-item list-group-item-info"><i class="fa fa-truck" aria-hidden="true"></i> Adherence to Safety, Health, Environment (SHE)
        Guidelines as provided by the Customers.</li>
      <li class="list-group-item list-group-item-info"><i class="fa fa-truck" aria-hidden="true"></i> Drivers are provided with mobile phones.</li>
    </ul></div>
  </div>
</div>
