
<div class="container">
  <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 p-0">
    <nav class="navbar navbar-expand-md bg-white">
      <a href="#" class="navbar-brand">
        <img src="assets/logo.png" alt="ncc" />
      </a>
      <button
        type="button"
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
          <li routerLinkActive="active" class="mr-3">
            <a class="btnContactUs" routerLink="/home">Home</a>
          </li>
          <li routerLinkActive ="active" class="mr-3">
            <a class="btnContactUs" routerLink="/ncc-aboutus">About Us</a>
          </li>
          <li routerLinkActive="active" class="mr-3">
            <a class="btnContactUs" routerLink="/ncc-services">Our Services</a>
          </li>
          <li routerLinkActive="active" class="mr-3">
            <a class="btnContactUs" routerLink="/ncc-gallery">Gallery</a>
          </li>
          <li routerLinkActive="active" class="mr-3">
            <a class="btnContactUs" routerLink="/ncc-branches">Our Branches</a>
          </li>
          <li routerLinkActive="active" class="mr-3">
            <a class="btnContactUs" routerLink="/ncc-blog">NCC Blog</a>
          </li>
          <li routerLinkActive="active" class="mr-3">
            <a class="btnContactUs" routerLink="/contact-us">Contact Us</a>
          </li>
        </div>
        <div class="navbar-nav ml-auto">
          <li>
            <a
              class="btn btnContactUs"
              role="button"
              href="http://43.241.61.42:1010"
              target="_blank"
              style="background-color: cadetblue;"
            >
              <i class="fa fa-sign-in"></i>&nbsp;ERP Login
            </a>
          </li>
        </div>
      </div>
    </nav>
  </div>
</div>
