.version-info {
  font-size: 8pt;
  float: right;
}
.flow-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0rem 5.5rem 0rem 5.5rem;
}

.g-overlay {
  min-width: 320px;
}

gallery {
  font-size: 16px;
}

img {
  width: 430px;
  height: 320px;
  object-fit: cover;
  margin: 2px;
  border-radius: 1rem;
}

.lightbox-example,
.gallerize-example {
  margin: 2em;
}

h1 {
  font-weight: 400 !important;
  color: black;
}

hr {
  background-color: aquamarine;
}

@media screen and (max-width: 768px) {
  h1 {
    font-weight: 400 !important;
    color: black;
    font-size: 1.5rem;
  }
  .flow-container {
    display: contents;
  }
  img {
    width: 200px;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 1px;
    border-radius: 0.5rem;
  }
}

@media screen and (max-width: 1366px) {
  img {
    width: 385px;
    height: 275px;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 1px;
    border-radius: 0.5rem;
  }
}
