<app-navbar></app-navbar>

<section style="background-color: #f1f4fa;padding-top: 0.5rem;">
  <hr>
  <h1 class="font-weight-light text-center">
    N C C &nbsp; S E R V I C E S
  </h1>
  <div class="container">
    <hr />
    <div class="row mbr-justify-content-center">
      <div class="col-lg-8 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-truck fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
              Transportation Services
            </h2>
            <p class="mbr-fonts-style text1 mbr-text display-6">
              We offer Express Service* from different part of the country through containerize vehicles which
                        will reduce more than 30% transit time, at present this service is utilizing by medicine and
                        electronic industry. E.g.: - Our Pune to Kolkata transit time is Just 75* hrs. Only. Our
                        experience into this industry is more than 2 decades are capable to handle the needs up to the
                        satisfaction of our clients. We owned 500 fleets, and We are one of the youngest fleet owner in
                        our country as our fleet average age is not more than 4 years, and 200 fleet is attached with us
                        from various individual owners. We have 32ft 34ft 36ft containerized fleets and carrying
                        capacity of the same is 6.5 metric ton. For more details please talk to Rizwan Shaikh on
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mbr-col-md-10">
        <div class="wrap">
          <!-- <div class="ico-wrap">
            <span class="mbr-iconfont fa-taxi fa"></span>
          </div> -->
          <div class="text-wrap vcenter">
            <img src="../../../assets/side.jpg" class="sideimage" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row mbr-justify-content-center">
      <div class="col-lg-8 mbr-col-md-10">
        <div class="wrap">
          <!-- <div class="ico-wrap">
            <span class="mbr-iconfont fa-taxi fa"></span>
          </div> -->
          <div class="text-wrap vcenter">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Container Type</th>
                  <th scope="col">Size</th>
                  <th scope="col">Available are (cft)</th>
                  <th scope="col">Carrying capacity</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Single axle</th>
                  <td>32 HQ</td>
                  <td>3000</td>
                  <td>7mt</td>
                </tr>
                <tr>
                  <th scope="row">Single axle</th>
                  <td>34 HQ</td>
                  <td>3200</td>
                  <td>7mt</td>
                </tr>
                <tr>
                  <th scope="row">Single axle</th>
                  <td>36 HQ</td>
                  <td>4100</td>
                  <td>7mt</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<app-dest-footer></app-dest-footer>
<app-socialview></app-socialview>
