<div class="fluid-container bg-white rounded" id="service">
  <hr />
  <h1 class="font-weight-light text-center">
    ABOUT US
  </h1>
  <hr />
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="Professional">
          <!-- <img
            src="../../../assets/bg4.jpg"
            class="rounded-circle"
            alt="Professional Service"
          /> -->
          <p>
            Mr Nizam Shaikh, the Founder Chairman, is a man of rare intelligence
            and intuitive ability. 2.5 decades of experience in the Industry. He
            is the driving force behind NCC’s steady growth over the years -
            from . 1 lacs turnover in the year 2000 to . 70 Crores during the
            year 2018-19.
            <br /><br />
            Mr Mujib Shaikh the Director is with 20 years of experience in this
            Industry. Never daunted, he is the force behind the Organization’s
            constant and continued growth. Ever active and effervescent, with
            his vast knowledge about the industry, he monitors and guides the
            management in core aspects of cost control, administration and
            finance. Always open to new ideas and smart thinking, he has ushered
            in tremendous change in the modern day working of the Company.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
