<div class="flow-container bg-white rounded" id="feedback">
  <div class="row">
    <div class="col-12">
      <img
        src="assets/bannerImages/e5bb73f4-c021-4d3b-b2d2-251642cbac9d_l.jpeg"
        alt="Feedback"
      />
      <div class="connect-desc">
        <h3 class="align-center fp-el">Need Help? Let Us Be Your Guide</h3>
        <h5 class="align-center fp-el">
          Submit Your Information And We'll Get In Touch Right Away.
        </h5>
        <a routerLink="/contact-us" class="btn btn-primary" target='_blank'>CONTACT&nbsp;US</a>
      </div>
    </div>
  </div>
</div>
