<div class="space"><br /><br /><br /><br /><br /><br /><br /><br /></div>
<div class="flow-container" id="desktopVersion">
  <!-- <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 p-0"> -->
  <nav class="navbar navbar-expand-lg">
    <ul class="navbar-nav mr-auto">
      <li>
        <a routerLink="/properties">
          <img class="img border-button" src="assets/blue-exotic-hotel-189296.jpg" alt="img1" />
          <div class="carousel-caption">
            <h4 class="font-weight-light">PROPERTIES</h4>
            <i class="fa fa-arrow-circle-right"></i>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="/maps">
          <img class="img border-button" src="assets/wall.jpeg" alt="img2" />
          <div class="carousel-caption">
            <h4 class="font-weight-light">MAP</h4>
            <i class="fa fa-arrow-circle-right"></i>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="/nccgroup-testimonials">
          <img class="img border-button" src="assets/aboutus.jpg" alt="img3" />
          <div class="carousel-caption">
            <h4 class="font-weight-light">TESTIMONIALS</h4>
            <i class="fa fa-arrow-circle-right"></i>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="/nccgroup-blog">
          <img class="img" src="../../../assets/travel-blog.PNG" alt="img4" />
          <div class="carousel-caption">
            <h4 class="font-weight-light">TRAVEL BLOG</h4>
            <i class="fa fa-arrow-circle-right"></i>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="/contact-us">
          <img class="img" src="assets/beach-exotic-holiday-248797.jpg" alt="img4" />
          <div class="carousel-caption">
            <h4 class="font-weight-light">CONTACT US</h4>
            <i class="fa fa-arrow-circle-right"></i>
          </div>
        </a>
      </li>
    </ul>
  </nav>
  <!-- </div> -->
</div>

<div class="flow-container" id="mobileVersion">
  <table class="table">
    <tr>
      <td>
        <a routerLink="/properties">
          <img class="img border-button" src="assets/propsMobile.PNG" alt="img1" />
          <div class="carousel-caption">
            <h4 class="font-weight-light">PROPERTIES</h4>
            <i class="fa fa-arrow-circle-right"></i>
          </div>
        </a>
      </td>
      <td>
        <a routerLink="/maps">
          <img class="img border-button" src="assets/mapMobile.PNG" alt="img2" />
          <div class="carousel-caption">
            <h4 class="font-weight-light">MAP</h4>
            <i class="fa fa-arrow-circle-right"></i>
          </div>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a routerLink="/nccgroup-testimonials">
          <img class="img border-button" src="assets/testimonialsMobile.PNG" alt="img3" />
          <div class="carousel-caption">
            <h4 class="font-weight-light">TESTIMONIALS</h4>
            <i class="fa fa-arrow-circle-right"></i>
          </div>
        </a>
      </td>
      <td>
        <a routerLink="/nccgroup-blog">
          <img class="img" src="../../../assets/travelBlogMobile.PNG" alt="img4" />
          <div class="carousel-caption">
            <h4 class="font-weight-light">TRAVEL BLOG</h4>
            <i class="fa fa-arrow-circle-right"></i>
          </div>
        </a>
      </td>
    </tr>
  </table>
</div>

<!-- For mobile version -->