<app-navbar></app-navbar>
<div class="container">
  <div class="col-md-12 pt-4">
    <div class="row">
      <!-- <div class="col-6">
        <h5>Head Office</h5>
        <p><i class="fa fa-map-marker"></i>
          Office No: 104 & 105 Fortune Plaza, Sasane Nagar Hadapser, Pune,
          411028, India.
        </p>
        <h6>Phone Number</h6>
        <p><i class="fa fa-phone"></i> +(91) 9372500800, 9272500800</p>
        <h6>Email Address</h6>
        <p>
          <i class="fa fa-envelope"></i>
          <a href="mailto:mujib@nccgroup.co.in"> mujib@nccgroup.co.in </a>
        </p>

        <br />
        <h5>Work Shop</h5>
        <p><i class="fa fa-map-marker"></i>
          Kasari phata Kondapuri, Near HP Pump Pune nagar haiway Pune.412208
        </p>
        <h6>Phone Number</h6>
        <p><i class="fa fa-phone"></i> +(91) 9260500800, 9372500800</p>
        <p>
          <i class="fa fa-envelope"></i>
          <a href="mailto:nlpl.puneho@gmail.com"> nlpl.puneho@gmail.com</a>
        </p>
      </div> -->
      <div class="col-12 maps">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.885329022604!2d73.93086701441626!3d18.48885267497011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2ea005f8b00d1%3A0xda34bdc33242cb58!2sNCCGROUP!5e0!3m2!1sen!2sin!4v1591233020013!5m2!1sen!2sin"
          width="100%"
          height="450"
          frameborder="0"
          style="border: 0;"
          allowfullscreen=""
          aria-hidden="false"
          tabindex="0"
        ></iframe>
      </div>
    </div>
    <div class="row p-4">
      <div class="col-6 uploadContact">
        <app-dest-contact></app-dest-contact>
      </div>
      <div class="col-6">
        <h5>Head Office</h5>
        <p><i class="fa fa-map-marker"></i>
          Office No: 104 & 105 Fortune Plaza, Sasane Nagar Hadapser, Pune,
          411028, India.
        </p>
        <h6>Phone Number</h6>
        <p><i class="fa fa-phone"></i> +(91) 9371500800, 9272500800</p>
        <h6>Email Address</h6>
        <p>
          <i class="fa fa-envelope"></i>
          <a href="mailto:mujib@nccgroup.co.in"> mujib@nccgroup.co.in </a>
        </p>

        <br />
        <h5>Work Shop</h5>
        <p><i class="fa fa-map-marker"></i>
          Kasari phata Kondapuri, Near HP Pump Pune nagar haiway Pune.412208
        </p>
        <h6>Phone Number</h6>
        <p><i class="fa fa-phone"></i> +(91) 9260500800, 9371500800</p>
        <p>
          <i class="fa fa-envelope"></i>
          <!-- <a href="mailto:fleet@nccgroup.co.in"> fleet@nccgroup.co.in</a> -->
          <a href="mailto:nlpl.puneho@gmail.com"> nlpl.puneho@gmail.com</a>
        </p>
      </div>
    </div>
  </div>
</div>
<app-dest-footer></app-dest-footer>
