<footer class="footer_area">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="single_ftr">
          <ul>
            <li>
              <h1 class="text-uppercase">N C C &nbsp; G R O U P</h1>
              <h5>Nizamuddin Logistics Private Limited</h5>
            </li>
            <li>
              PH: +(91) 9372500800, 9272500800
            </li>
            <li>Email: nlpl.puneho@gmail.com</li>
            <li>
              <a
                routerLink="/contact-us"
                target="_blank"
                id="acolor"
                rel="noopener noreferrer"
                >Need Help? Click here</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-2">
        <div class="single_ftr">
          <h4 class="sf_title">Quick Links</h4>
          <ul>
            <li><a routerLink="/ncc-aboutus">About us</a></li>
            <li><a routerLink="/ncc-team">Our Team</a></li>
            <li><a routerLink="/ncc-services">Our Services</a></li>
          </ul>
        </div>
      </div>
      <div class="col-2">
        <div class="single_ftr">
          <h4 class="sf_title">Quick Links</h4>
          <ul>
            <li><a routerLink="/ncc-branches">Our Branches</a></li>
            <li><a routerLink="/ncc-blog">Travel Blog</a></li>
            <li><a routerLink="/contact-us">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-4">
        <div class="single_ftr">
          <div class="newsletter_form">
            <iframe
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FNizamuddin-Logistics-PVT-LTD-743830802362285%2F&tabs=timeline&width=350&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=2739481436282241"
            width="350"
            height="400"
            style="border: none; overflow: hidden;"
            scrolling="no"
            frameborder="0"
            allowTransparency="true"
            allow="encrypted-media"
          ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ftr_btm_area">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="ftr_social_icon">
            <ul>
              <li>
                <a
                  href="
                      https://www.facebook.com/Nizamuddin-Logistics-PVT-LTD-743830802362285/
                  "
                  target="_blank"
                  ><i class="fa fa-facebook"></i
                ></a>
              </li>
              <li>
                <a href="https://www.instagram.com/" target="_blank"
                  ><i class="fa fa-instagram"></i
                ></a>
              </li>
              <li>
                <a href="https://it.pinterest.com/" target="_blank"
                  ><i class="fa fa-pinterest"></i
                ></a>
              </li>
              <li>
                <a href="https://twitter.com/" target="_blank"
                  ><i class="fa fa-twitter"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-4">
          <p class="copyright_text text-center">
            <a href="https://www.nccgroup.co.in" target="_blank">NCC</a>
            © 2020 All Rights Reserved
          </p>
        </div>
        <div class="col-4"></div>
      </div>
    </div>
  </div>
</footer>
