<app-navbar></app-navbar>
<div class="flow-container" style="background-color: #f1f4fa;padding-top: 0.5rem;">
  <hr />
  <div class="heading">
    <h1 class="font-weight-light text-center">
      N C C &nbsp;T R A N S P O R T &nbsp; B L O G
    </h1>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-12">
      <div class="card my-4 col-12">
        <h5 class="card-header card-header1">
          <iframe
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FNizamuddin-Logistics-PVT-LTD-743830802362285%2F&tabs=timeline&width=500&height=800&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=2739481436282241"
            width="500"
            height="800"
            style="border: none; overflow: hidden;"
            scrolling="no"
            frameborder="0"
            allowTransparency="true"
            allow="encrypted-media"
          ></iframe>
        </h5>
      </div>
    </div>
  </div>
</div>
<app-dest-footer></app-dest-footer>
<app-socialview></app-socialview>
