<app-navbar></app-navbar>

<section>
  <hr>
  <h1 class="font-weight-light text-center">
    N C C &nbsp; B R A N C H E S
  </h1>
  <div class="container">
    <hr />
    <div class="row mbr-justify-content-center">
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-truck fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
              Pune
            </h2>
            <p>
              <i class="fa fa-map-marker"></i> Office No: 104 & 105 Fortune
              Plaza, Near Rail Way Crossing, Sasane Nagar Hadapsar, Pune,
              411028, India.
              <br />
              <i class="fa fa-phone"></i> Mobile : 9372500800
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-truck fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
              Kondapuri
            </h2>
            <p>
              <i class="fa fa-map-marker"></i> NCC Work shop Kasari phata Kondapuri, Near HP Pump Pune nagar haiway Pune.412208
              <br />
              <i class="fa fa-phone"></i>Mobile No: 9260500800, 9371500800
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-truck fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
              Ranjangaon MIDC Pune
            </h2>
            <p>
              <i class="fa fa-map-marker"></i>1st Floor Hotel Tiranga opp LG
              electronics India Pvt ltd , Tal-shirur, Dist-pune
              <br />
              <i class="fa fa-phone"></i>Mobile No: 9860481469, 9168009933
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-truck fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
              Rajnandgaon (C.G)
            </h2>
            <p>
              <i class="fa fa-map-marker"></i>Peendry ,Transport Nagar , Pin :
              491441
              <br />
              <i class="fa fa-phone"></i>Mobile No: 9131263391, 9450166606
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-truck fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
              Kolkata (W.B)
            </h2>
            <p>
              <i class="fa fa-map-marker"></i>1st Floor Jungalpur gate no 2, Near Mahindra services center, Dhaba -1 HAWARA - Pin 711302
              <br />
              <i class="fa fa-phone"></i>Mobile No: 75584 37797, 75583 67797
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-truck fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
              BBSR
            </h2>
            <p>
              <i class="fa fa-map-marker"></i> All India Transport Corporation Plot no-156A ,SectorA, Manchester Industrial Estate Bhubaneswar. Odisha pin-10
              <br />
              <i class="fa fa-phone"></i> Mob: +91 76090 93404
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-truck fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
              Chennai
            </h2>
            <p>
              <i class="fa fa-map-marker"></i>No 6 Mettu street cycle shop
              puzhal, Chennai-600066,
              <br />
              <i class="fa fa-phone"></i>Phone: 9382811440
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-truck fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
              Ranchi
            </h2>
            <p>
              <i class="fa fa-map-marker"></i> 1st floor Tiwari Hotel, Lalpur
              chowk, Ranchi-834001
              <br />
              <i class="fa fa-phone"></i> Mob:- 9334776832
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-truck fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
              Nagpur
            </h2>
            <p>
              <i class="fa fa-map-marker"></i>Paliwal Nagar, Wardha Road,
              Butibori, NAGPUR-441122 <br />
              <i class="fa fa-phone"></i> Mob: 9860572485
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-dest-footer></app-dest-footer>
<app-socialview></app-socialview>
